i {
    font-size: 100px;
    color: #EDF5E1;
    background-color: #8EE4AF;
}

button#rock,
button#paper,
button#scissors {
    background-color: #8EE4AF;
    width: 200px;
    height: 200px;
    border-radius: 10px;
    border: 2px solid #05386B;
}

.text {
    color: #05386B;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.result {
    font-size: 50px;
    margin-top: 0;
    margin-bottom: 10px;
}

.score {
    font-size: 20px;
    margin: 0;
}

.question {
    font-size: 30px;
    color: #05386B;
    display: flex;
    justify-content: center;
    margin-top: 50px;
    margin-bottom: 10px;
}

.buttonDiv {
    display: flex;
    justify-content: center;
}

button.restart {
    background-color: #8EE4AF;
    height: 50px;
    width: 400px;
    border-radius: 10px;
    border: 2px solid #05386B;
    color: #05386B;
    font-size: 20px;
}

#options {
    margin: 50px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    transition: all .5s;
}

.clicked {
    border: 5px solid #EDF5E1;
    transform: scale(1.2);
}